<form id="createIssueForm">
    <input type="text" name="title">
    <input type="text" name="description">
    <input type="file" name="attachments" multiple>
    <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="/javascripts/script.js"></script>