<html>
<title>Test</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

</html>

<body>
    <button type="button" id="addIssueBtn" class="btn btn-success btn-lg" data-toggle="modal"
        data-target="#addIssueForm">
        <i class="fas fa-plus"></i>

    </button>
    <!-- Modal HTML Markup -->
    <div id="addIssueForm" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-12">
                        <h3 class="modal-title">Create issue</h3>
                        <h5>Add an issue by submitting the form.</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="createIssueForm">
                        <div class="row">
                            <div class="col">
                                <label for="title">Add some title:</label>
                                <input id="title" class="form-control" type="text" name="title">
                            </div>
                            <div class="col">
                                <label for="description">Add some description:</label>
                                <textarea id="description" class="form-control" type="text"
                                    name="description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                                <label for="attachments">Add attachments:</label>
                                <input class="form-control-file" id="attachments" type="file" name="attachments"
                                    multiple>
                            </div>
                            <div class="col">
                                <br>
                                <input class="form-control" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container">


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="/javascripts/script.js"></script>
</body>